.footer{
    &__top{
        display: flex;
        justify-content: space-between;
        padding-top: 160px;
    }

    &__title{
        color: $text-white;
        font-size: 22px;
        font-weight: 600;
    }

    .nav{

        &__item{
            padding-top: 20px;
        }
        &__link{
        text-decoration: none;
        color: $text-grey;
        font-size: 19px;
        font-weight: 400;
        }
    }

    &__info{
        display: flex;
        padding-top: 60px;
    }

    .text{
        padding-top: 41px;
        color: $text-grey;
        font-size: 15px;
        font-weight: 400;
    }

    .safety{
        display: flex;
        align-items: center;
    }

    .bottom-row{
        display: flex;
        padding: 57px 0;
    }

    .social{
        display: flex;

        &__link {
            path {
                transition: fill 0.3s ease;
            }
    
            &:hover {
                path {
                    fill: #77be1d;
                }
            }
        } 

        &__item{
            padding-left: 26px;
        }
    }
}