@import "./vendors/reset";

@import "./variables";

@import "./components/header";

@import "./sections/hero";
@import "./sections/game";
@import "./sections/minecraft";
@import "./sections/stock";
@import "./sections/blog";
@import "./sections/squad";
@import "./components/footer";
@import "./sections/review";
@import "./sections/basket";
@import "./sections/minecraft-counter";

body {
  background-color: #06040f;
  font-family: "Manrope", sans-serif;
}

.container {
  max-width: 1260px;
  margin: 0 auto;
}

hr {
  border: 2px solid #13101b;
}

.prices {
  margin-top: 20px;
  margin-left: -10px;
  display: flex;

  margin-left: 20px;
  gap: 20px;
}

.price {
  font-size: 24px;
  font-weight: 500;
  color: $text-white;
}

.percent {
  padding-top: 6px;
  font-size: 18px;
  font-weight: 500;
  color: $text-green;
}

.old-price {
  padding-top: 6px;
  font-size: 18px;
  font-weight: 400;
  color: $text-grey;
}
