.squad {
  .container {
    width: 100%;
    display: flex;
    position: relative;
  }

  &__bg {
    position: absolute;
    right: -350px;
    top: -220px;
    z-index: -1;
    object-fit: contain;
  }

  &__info {
    margin-top: 70px;
  }

  &__logo {
    max-width: 350px;
    max-height: 464px;
  }

  &__title {
    font-size: 40px;
    font-weight: 800;
    color: $text-white;
    padding-top: 45px;
  }

  .box{
    display: flex;
    align-items: center;
    padding: 20px 0 20px 0;
  }

  .buy_squad{
    background-color: $bg-green;
    width: 8px;
    height: 8px;
    border-radius: 50px;
    margin-right: 9px;
  }

  &__stock {
    font-size: 14px;
    font-weight: 400;
    color: $text-white;
  }

  &__posters {
    margin-top: 85px;
    display: flex;
    justify-content: center;
  }

  &__image {
    max-width: 297px;
    max-height: 167px;
  }

  &__new {
    color: $text-white;
    font-size: 36px;
    font-weight: 700;
  }
  &__discount {
    color: $text-green;
    font-size: 24px;
    font-weight: 700;
  }
  .info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0 20px 0;
  }

  .purchase-row{
    display: flex;
  }

  &__old {
    color: $text-grey;
    font-size: 24px;
    font-weight: 700;
  }

  .buy {
    border-radius: 15px;
    background-color: $bg-green;
    width: 142px;
    height: 73px;
    display: flex;
    align-items: center;
    justify-content: center;

    &__title {
      background-color: $bg-green;
      text-decoration: none;
      font-size: 18px;
      font-weight: 600;
      color: $text-white;
    }
  }

  .basket {
    border-radius: 15px;
    border: solid;
    width: 142px;
    height: 73px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;

    &__title {
      font-size: 18px;
      font-weight: 600;
      color: $text-white;
      text-decoration: none;
    }
  }

  .like {
    border-radius: 50%;
    width: 49px;
    height: 49px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: solid;
    margin: 12px 0 12px 20px;
    }

  .details{
      padding-top: 40px;
  }

    &__details-characteristics{

      padding-top: 40px;

        &__title, &__subtitle{
            color: $text-white;
            padding-top: 8px;
        }
        
    }

    .link{
      border-radius: 15px;
      border: solid 1px;
      max-width: 284px;
      height: 66px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 40px;

      &__title{
        text-decoration: none;
        color: $text-green;
        //padding: 18px 25px 22px ;
      }
    }

    .quality{
      &__title{
        color: $text-white;
        align-self: center;
      }
    }

    &__delivery{
      display: flex;
      align-self: center;
      //align-items: end;
      //padding-bottom: 25px;

      .quality{
        margin-left: 29px;
        padding-top: 38px;
      }
    }
  }
