.header {
  padding: 24px 0 12px;
  display: flex;

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__bottom {
    padding-top: 24px;
    display: flex;
    align-items: center;
  }

  .btn {
    background: none;
    border: none;
  }
  .btn:hover {
    background-color: $bg-green;
    border-color: $border-green;
  }

  .dropdown-menu.show {
    display: block;
    background-color: $bg-black;
  }

  .dropdown-item {
    color: $text-white;
    background-color: $bg-dark-blue;
    border-radius: 5px;
    padding: 10px 5px;
  }

  .dropdown-item:hover {
    background-color: $bg-green;
  }

  .currency {
    display: flex;
    justify-content: space-around;
    color: $text-white;

    &__link {
      background: $bg-dark-blue;
    }

    &__li {
      color: $text-white;
      text-decoration: none;
      background-color: $bg-dark-blue;
      padding: 4px 12px;
      border-radius: 5px;
    }

    &__li:hover {
      background-color: $bg-green;
    }
  }

  &__scores {
    display: flex;
    align-items: center;
  }

  &__score-txt {
    padding-left: 23px;
  }

  &__lang-but,
  &__score {
    color: $text-white;
    font-size: 16px;
    font-weight: 600;
  }

  .nav {
    &__list {
      display: flex;
    }

    &__link {
      color: $text-white;
      font-size: 16px;
      font-weight: 600;
      text-decoration: none;
    }

    &__item {
      padding-right: 32px;
      &:last-child {
        padding-right: 0;
      }
    }
  }

  &__img {
    border: 2px solid $border-green;
    border-radius: 50px;
  }

  .searchbar {
    display: flex;
    align-items: center;
    background-color: rgba($color: $input-silver, $alpha: 0.1);
    padding: 22px 30px;
    margin-right: 60px;
    width: 648px;
    border-radius: 15px;

    &__input {
      font-size: 18px;
      font-weight: 400;
      background-color: inherit;
      border: none;
      outline: none;
      color: $text-white;
      width: 100%;
      background-color: rgba($color: $input-silver, $alpha: 0.01);
    }

    &__icon {
      margin-left: 30px;
      cursor: pointer;
      width: 30px;
      height: 30px;
      transition: 0.3s;

      &:hover {
        transform: scale(1.2);
      }
    }
  }
  &__icon-mob {
    visibility: hidden;
  }

  &__basket-mob {
    visibility: hidden;
  }

  &__logo {
    padding-right: 60px;
  }

  &__lines {
    padding-right: 35px;
  }

  &__free {
    padding-right: 60px;
    text-decoration: none;
    color: $text-white;
  }

  &__heart {
    padding-right: 25px;
  }

  .basket-two {
    position: relative;

    &__two-bg {
      position: absolute;
      top: -13px;
      left: 13px;
    }
  }

  &__scores {
    color: $text-white;
  }

  &__avatar {
    display: flex;
    align-items: center;
  }

  &__name {
    padding-right: 25px;
    color: $text-white;
  }
}

.logo {
  &__image {
    padding-right: 10px;
  }
  &__link {
    display: flex;
  }
}

.header {
  @media screen and (max-width: 560px) {
    margin-top: -30px;
    &__top {
      @media screen and (max-width: 560px) {
        display: none;
      }
    }

    &__free {
      @media screen and (max-width: 560px) {
        display: none;
      }
    }

    &__heart {
      @media screen and (max-width: 560px) {
        display: none;
      }
    }

    &__icon-mob {
      @media screen and (max-width: 560px) {
        visibility: inherit;
        width: 20px;
        height: 20px;
        cursor: pointer;
        opacity: 0.6;

        &:hover {
          transform: scale(1.5);
          opacity: 1;
        }
      }
    }

    &__basket-mob {
      @media screen and (max-width: 560px) {
        visibility: inherit;
        padding-left: 10px;

        cursor: pointer;
        opacity: 0.6;

        &:hover {
          transform: scale(1.5);
          opacity: 1;
        }
      }
    }

    &__basket-2 {
      @media screen and (max-width: 560px) {
        display: none;
        margin-right: 100px;
      }
    }

    &__mob-icons {
      @media screen and (max-width: 560px) {
        visibility: visible;
        margin-right: -40px;
      }
    }
  }
}

.searchbar {
  @media screen and (max-width: 560px) {
    display: none;
    visibility: hidden;
  }
}

.header__bottom {
  @media screen and (max-width: 560px) {
    display: flex;
  }
}
